@font-face {
    font-family: "work sans";
    src: url("/asset/font/WorkSans-VariableFont_wght.ttf") format("TrueType");
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:"work sans";
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(174, 240, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 3%;
}

.d-flex{
    display: flex;
}

.hidden{
    display: none;
}

.container{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    max-width: 700px;
    padding: 50px;
    background-color: rgb(248, 248, 248);
    border-radius: 40px;

    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.col{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drinked-water{
    font-size: 5rem ;
}

.drink-target{
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #454545;
}

.drop{
    width: 200px;
    aspect-ratio: 1/1;
    margin-top: 40px;
    position: relative;
    background-color: rgb(170, 237, 255);
    border-radius:  25% 75% 44% 56% / 29% 30% 70% 71% ;
   box-shadow: inset 10px 20px 20px rgba(0,0,0,0.2),
  5px 5px 5px rgba(0,0,0,.1),
  15px 10px 25px rgba(0,0,0,0.2);
  inset -10px -20px 5px rgba(255,255,255, 0.9);

    -webkit-border-radius:  25% 75% 44% 56% / 29% 30% 70% 71% ;
    -moz-border-radius:  25% 75% 44% 56% / 29% 30% 70% 71% ;
    -ms-border-radius:  25% 75% 44% 56% / 29% 30% 70% 71% ;
    -o-border-radius:  25% 75% 44% 56% / 29% 30% 70% 71% ;
}

.plus{ 
    justify-content: center;
    align-items: center;
    width: 28%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.plus img{
    z-index: 1;
}

.details-plus{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(115, 236, 67);
    width: 100%;
    height: 35px;
    padding-left: 5px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    transition: all 400ms ease-in;
    opacity: 0;
    z-index: -1;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
}

.plus:hover .details-plus{
    opacity: 1;
    z-index: 0;
    width: 85px;
}

.right{
    width: max-content;
}

.dishes{
    display: grid;
    grid-template-columns: repeat(2,110px);
    grid-template-rows: repeat(2, 90px);
    gap: 10px;
    margin-bottom: 25px;
}

.dish{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(203, 243, 255);
    border-radius: 20px;
    transition: all 300ms ease-out;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
}

.dish:hover{
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}

.setting{
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-self: stretch;
}

.value-target-label{
    font-size: 1.4rem;
    font-weight: 600;
     color: rgb(69, 69, 69);
}

.set-target{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#value-target{
    font-size: 1.5rem;
    width: 100%;
    padding: 8px 15px;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
}

#unit-target{    
    padding: 5px;
    position: absolute;
    right: 0;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(52, 52, 52);
    color: rgb(238, 238, 238);
}

.set{
    align-self: start;
    border: none;
    background-color: rgb(52, 52, 52);
    color: rgb(240, 240, 240);
    border-radius: 20px;
    padding:10px 20px ;
    transition: all 200ms;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
}

.set:active{
    background-color: rgb(74, 74, 74);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width:616px) {
    .container{
        justify-content: center;
    }
}